html,
body,
#app {
	min-width: 375px;
	margin: 0 auto;
}

.main {
	width: 100%;
	min-height: 600px;
	border-top: 1px solid #fff;
	margin-top: 39px;
	padding-bottom: 50px;
	animation: zuohua 0.3s  1;
}

.showLoading {
	display: none;
}

.van-loading {
	text-align: center;
	margin-top: 20px;
}

/*商品列表页需要的样式 */
.van-list__finished-text {
	width: 100%;
}

.van-cell__value--alone {
	color: #323233;
	text-align: center !important;
}

/* 滑入动画 */
@keyframes zuohua {
	0% {
		margin-left: 100%;
	}
	90%{
		margin-left: -2%;
	}
	100% {
		margin-left: 0%;
	}
}
